@font-face {
  font-family: MyriadPro;
  src: url("MyriadPro.otf") format("opentype");
}

body {
  font-family: "MyriadPro";
  background-color: black;

  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;

  width: 100vw;
  height: 100vh;
}

.container {
  flex: 1;

  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.bg-wrapper {
  position: relative;
}

.bg-img {
  width: 1280px;
  height: 720px;
}

.number-wrapper {
  position: absolute;
  bottom: 11%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  text-align: center;
  font-size: 300px;
  color: white;
}

.number {
  color: black;
  margin: 0px 34px;
}

.number:last-child {
  margin-right: 46px;
}

.btn-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 19px;
  right: 12px;
  background-color: #bf9100;
  border-radius: 18px;
  width: 266px;
  height: 100px; */

  cursor: pointer;
  position: absolute;
  bottom: 28px;
  right: 247px;
  opacity: 1;
}

.btn {
  /* display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fed966;
  border-radius: 18px;

  width: 236px;
  height: 70px;

  color: #717372;
  line-height: 1;

  font-size: 50px;

  box-sizing: border-box; */

  cursor: pointer;
}

.btn-disabled {
  filter: grayscale(70%);
  cursor: auto;
}
